header{
    background-image: url(../img/wall.png);
}

body{
    background-image: url(../img/cork.png);
}

.container{
    width: 70%;
}

/* font */
.edu-tas{
    font-family: 'Edu Tas Beginner', sans-serif;
}

.sometype-mono{
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
}

/* card img */
.card-content{
    width: auto;
    height: auto;
}

.card-img{
    width: 100%;
    max-height: 85%;
}

/* pin */
.pin {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: auto;
}